<div class="container">
  <nav>
    <div class="nav-title">
      <h3 style="margin: 0px">
        <%= link_to 'phrase palette', root_path, id: "navTitleLink" %>
      </h3>
    </div>
    <div class="nav-buttons">
      <%= link_to ('<i class="fa fa-random"></i>').html_safe, phrase_random_path %>
      <%= link_to ('<i class="fa fa-plus"></i>').html_safe, new_phrase_path %>
    </div>
  </nav>
