<nav>
  <div class="nav-title">
    <h3 style="margin: 0px">
      <%= link_to 'phrase palette', root_path, id: "navTitleLink" %>
      <span class="index-name">
        <% if current_page?("/phrases") %>
          library
        <% end %>
      </span>
    </h3>
  </div>
  <div class="nav-buttons">
    <%= render 'shared/nav_buttons' %>
  </div>
</nav>
