nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  background: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-title {
  grid-column: 1;
  text-align: left;
}

.nav-buttons {
  font-size: 25px;
  grid-column: 2;
  text-align: right;
  font-family: 'Asap';
}

.index-name {
  font-size: 25px;
  font-weight: bold;
  color: #c4c4c4;
  text-align: right;
}

#navTitleLink {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 30px;
}
