.phrase-container {
  text-align: center;
  height: 100vh;
}

.phrase-name {
  font-size: 47px;
}

.phrase-entry-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 3vh;
}

.phrase-form-field {
  font-size: 20px;
  outline: none;
  border: none;
  background: transparent;
}

.phrase-navigation {
  font-size: 25px;
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: right;
}

.trim {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.phrase-hex {
  font-size: 20px;
}

.minicolors-focus {
  outline: none;
  -webkit-appearance: none;
}

#phrase_color {
  font-size: 4vh;
  border: none;
  outline: none;
  background: transparent;
  width: 217px;
  height: 30px;
}

#formSubmit {
  background: none;
  border: none;
  font-size: 4vh;
}

#phraseHex {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  text-align: left;
}
